<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://todoapp20230712171235.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/7c720040-98a5-4ef2-b9c8-1b8a99eb7632/resourcegroups/abc/providers/Microsoft.Web/sites/TodoApp20230712171235</ResourceId>
    <UserName>$TodoApp20230712171235</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://todoapp20230712171235.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>