<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://todoapp20230711143832.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/262caa3c-c1bb-4760-b1a5-a037de3f062d/resourcegroups/database/providers/Microsoft.Web/sites/TodoApp20230711143832</ResourceId>
    <UserName>$TodoApp20230711143832</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://todoapp20230711143832.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>